@model WebApplicationLighting.Lanterns

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы точно хотите удалить это?</h3>
<div>
    <h4>Светильники</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LanternName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanternName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanternType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanternType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LanternId" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index"style="color:darkorange">Вернуться</a>
    </form>
</div>
