@model WebApplicationLighting.Lanterns

@{
    ViewData["Title"] = "Details";
}

<h2>Просмотр</h2>

<div>
    <h4>Светильники</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LanternName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanternName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanternType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanternType)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index"style="color:darkorange">Вернуться</a>
</div>
