@model WebApplicationLighting.Lamps

@{
    ViewData["Title"] = "Edit";
}

<h2>Изменение</h2>

<h4>Лампы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LampId" />
            <div class="form-group">
                <label asp-for="LampName" class="control-label"></label>
                <input asp-for="LampName" class="form-control" />
                <span asp-validation-for="LampName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LampType" class="control-label"></label>
                <input asp-for="LampType" class="form-control" />
                <span asp-validation-for="LampType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LifeTime" class="control-label"></label>
                <input asp-for="LifeTime" class="form-control" />
                <span asp-validation-for="LifeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power" class="control-label"></label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"style="color:darkorange">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
